.rounded{
  border-radius: 12px!important;
}
.btn-green {
  background-color: #4BBE9C;
  color: white;
  font-size: 20px;
}
.bg-gray{
  background-color: #F5F5F5;
}
.bg-dark60{
  background-color: rgba(0, 0, 0, 0.5);
}